vivado_proj/**
my_project
my_project/** 
__pycache__
__pycache__/** 
ignored_files
ignored_files/** 
C_Code/build
C_Code/build/**
src/build
src/build/**
soc/WishboneInterconnect_qamar/
soc/WishboneInterconnect_qamar/**

