vivado_proj/**
my_project
my_project/** 
__pycache__
__pycache__/** 
ignored_files
ignored_files/** 
C_Code/build
C_Code/build/**
src/build
src/build/**
src/tsmc/
src/tsmc/** 
src/soc/WishboneInterconnect_qamar/
src/soc/WishboneInterconnect_qamar/**
src/tb_qammar/
src/tb_qammar/**

